@media only screen and (min-width: 600px) {
  .content {
    width: 75%;
  }
}

@media only screen and (min-width: 768px) {
  .content {
    width: 50%;
  }
}

@media only screen and (min-width: 992px) {
  .content {
    width: 35%;
  }
}
