.night {
  background:
    linear-gradient(to bottom right, #52525200, #08080800),
    url(https://images.pexels.com/photos/816608/pexels-photo-816608.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500);
  background-size: cover;
}

.day {
  background:
    linear-gradient(to bottom right, #52525200, #0000),
    url(https://images.pexels.com/photos/531972/pexels-photo-531972.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500);
  background-size: cover;
}

@media only screen and (min-width: 600px) {
  .content {
    width: 75%;
  }
}

@media only screen and (min-width: 768px) {
  .content {
    width: 50%;
  }
}

@media only screen and (min-width: 992px) {
  .content {
    width: 35%;
  }
}
